<div class="container">


about us

  
<div class="container" style="padding: 10px; align-self: center">
    <div
      class="jumbotron row"
      style="
        background-color: cornsilk;
        text-align: justify;
        margin-top: 6%;
        margin-bottom: 10px;
        padding: auto;
        image-resolution: inherit;
      "
    >
      <div class="col-sm-5" style="align-content: center">
        <img src="assets\about.jpg" alt="img" class="img-fluid" />
      </div>
      <div class="col">
        <h2 style="color: rgb(66, 52, 127); text-align: center">About Me</h2>
        <p style="color: rgb(66, 52, 127); margin-top: 10%">
          Hey there! Welcome to my website. My name is Tom Jerry, and I'm a
          third-year journalism student at Northwestern University originally from
          Little Rock, Arkansas. I spent this summer working as a reporting intern
          on the Arkansas Democrat-Gazette's metro team. I enjoyed gaining
          experience writing daily news stories and in-depth features. On campus
          at Northwestern, I've worked for two years as a reporter and editor with
          The Daily Northwestern. I've served as the Investigations Editor,
          Assistant City Editor, Holiday Edition Editor and Assistant Arts &
          Entertainment Editor. As an aide in the university's Communications
          Office, I've polished my editing and writing skills while working in a
          highly collaborative environment. I'm also passionate about building
          community on campus, and I've had the opportunity to mentor first-year
          journalism students a Peer Adviser in 2021 and 2022. I was also elected
          president of Willard Residential College, a living community of nearly
          300 undergraduate students., in 2021. When I'm not in the classroom, I
          love spending my time listening to live music, reading and spending time
          outdoors.
        </p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  
  
</div>
<router-outlet></router-outlet>