<div class="container" style="padding: 10px; align-self: center">
  <div
    class="jumbotron row"
    style="
      background-color: cornsilk;
      text-align: justify;
      margin-top: 6%;
      margin-bottom: 10px;
      padding: auto;
      image-resolution: inherit;
    "
  >
    <div class="col-sm-5" style="float: inherit">
      <img src="assets\profile1.png" alt="img" class="img-fluid" />
    </div>
    <div class="col">
      <h2 style="color: rgb(66, 52, 127); text-align: center">Tom Jerry</h2>
      <p style="color: rgb(66, 52, 127); margin-top: 10%">
        I'm a reporter and editor working toward my undergraduate degree in
        journalism and American studies at Northwestern University. I primarily
        cover education, local politics, arts and activism. My work makes
        complicated events clear for every reader.
      </p>
      <div class="float-right my-1">
        <a class="btn" routerLink="/aboutus">About Us</a>

        <a class="btn" routerLink="/contactus">Contact Us</a>
      </div>
    </div>
  </div>
</div>
